.btn-outline {
  border: 1px solid $white;
  color: $white;
  padding: 9px 16px;
  display: block;
  max-width: 180px;
  margin: auto;
  @include transition(all 0.2s ease-in-out);
  &:hover {
    background: $white;
    color: $gf-dark-green;
  }
}
